doctype html
html
  head
    title= Sign In
      link(rel='stylesheet', href='/vendor/materialize/dist/css/materialize.min.css')
      link(rel='stylesheet', href='/css/auth.css')
  body
    section.row
  footer
    //- scripts
    script(defer,type='text/javascript', src='/vendor/materialize/dist/materialize.min.js')
