doctype html
html
  head
    title= 'Sign In'
    link(rel='stylesheet', href='/vendor/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    section.row
      i(class='fa fa-user-o')
  footer
    block footer
    //- scripts
    script(defer, type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
    script(defer, type='text/javascript', src='/vendor/materialize/dist/js/materialize.min.js')
    script(defer, type='text/javascript', src='/js/bundle.js')
