doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/vendor/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/base.css')
  body
    block content
  footer
    //- scripts
    script(defer, type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
    script(defer, type='text/javascript', src='/vendor/materialize/dist/js/materialize.min.js')
    //- script(defer, type='text/javascript', src='/js/bundle.js')
    block footer
